@font-face {
  font-family: Concourse T4;
  src: url(../fonts/public_fonts_Concourse_T4_Bold.otf);
}

@font-face {
  font-family: Concourse T2;
  src: url(../fonts/public_fonts_concourse_t2_regular-webfont.TTF);
}

.container {
    padding: 100px;
}

body {
  background: #f5f5f5;
  font-family : 'Concourse T2';
  background-image: url("../assets/anchor-lee-kO1G3neRA2o-unsplash.jpg");
  background-size: cover;
}
a.canvasjs-chart-credit{
  display: none;
}

.jumbotron h1{
  font-family : 'Concourse T4';
}

nav{
  font-family : 'Concourse T4';
}

.rounded-lg {
  border-radius: 1rem;
}

.nav-pills .nav-link {
  color: #555;
}

.nav-pills .nav-link.active {
  color: #fff;
}