@font-face {
    font-family: Concourse T4;
    src: url(../fonts/public_fonts_Concourse_T4_Bold.otf);
  }
  
  @font-face {
    font-family: Concourse T2;
    src: url(../fonts/public_fonts_concourse_t2_regular-webfont.TTF);
  }

body {
    min-height: 100%;
    height: 100%;
  font-family : 'Concourse T2';
    background-image: url("../assets/anchor-lee-kO1G3neRA2o-unsplash.jpg");
    background-size: cover;
}

.square {
    margin-top:4px;
    height: 15px;
    width:15px;
    background-color: #555;
  }

.popup-overlay {
visibility:hidden;
}

.popup-content {
visibility:hidden;
}

.button-style{
    font-family : 'Concourse T2';
}

text, text.textPath{
    font-family : 'Concourse T2';
    font-size: medium;
    text-transform: capitalize;
}

text.textPath{
    font-family : 'Concourse T2';
    font-size: medium;
    text-transform: capitalize;
}

nav{
    font-family : 'Concourse T4';
  }

  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: yellowgreen;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: red;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* ======= Popup CSS ======= */

/* Popup container */
.popup {
    /* display: block; */
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: relative;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.div-table {
    display: table;         
    width: auto;         
    background-color: #eee;         
    border: 1px solid #666666;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
  }
  .div-table-row {
    display: table-row;
    width: auto;
    clear: both;
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 200px;         
    background-color: #ccc;  
  }